body {
    background-image: url('https://images7.alphacoders.com/133/1330715.png'); /* Ganti dengan path gambar Anda */
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    
  }
  
  .login-table {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  
  .login-th {
    background-color: rgba(255, 255, 255, 0.9); /* Warna putih transparan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: none;
    border: none;
    outline: none;
  }
  
  h1 {
    color: #4a90e2;
    font-size: 500%;
  }
  
  h6 {
    color: #555;
  }
  
  .form-text {
    margin-top: 10px;
    font-size: 14px;
  }
  
  a.form-text {
    color: #000;
    text-decoration: none;
  }
  
  a.form-text:hover {
    color: #007bff;
  }
  
p {
    margin: 10px;
}
.login-table {

    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-th {
    padding:70px;
}

.form-control {
    margin: 10px;
}
.signup-page {
    text-align: center;
    margin: auto;
}

.signup-table {
    margin: auto;
}

.signup-boxes {
    padding-left: 10px;
    padding-right: 10px;
    
}

.form-text {
    text-align: center;
}


/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited .btn-outline-primary{
    background-color: #6e8898 !important;
} DOESNT WORK. :( */
